

/* Body and everything else */

body {  /*  This makes the page fill the entire screen with the margin set to zero. */
	margin: 0;

}

h2 h5 p {
	font-family: Arial, Helvetica, sans-serif;
}

hr {
	margin: 50px;
}

.white-divider {
	color: rgb(255, 255, 255);
}

a {
	color: azure;
	text-decoration: none;
}

/* Header & Navigation Bar */

.header {
	background-color: black;
	display: flex;
	margin: 0;
	padding: 30px 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: bold;
	justify-content: space-between;
	text-size-adjust: 30px;
}

.header a {
	color: azure;	
	text-decoration: none;
	
}

.navigation {
	display: flex;
	font-size: 15px;
	padding: 30px 10px;
	text-align: right;
	line-height: 1.8px;
}

.navigation a {
	color: azure;
	text-decoration: none;
	word-spacing: length 15px;
}

/* First Container */

.container1 {
	background-color: rgb(7, 8, 39);
	display: flex;
	align-items: center;
	padding:  70px 200px;
	justify-content: space-between;
}

.left-box1 {
	font-family: Arial, Helvetica, sans-serif;
	margin: o;
	padding: 50px 20px 50px;
	color: azure;
	text-align: left;

}

.right-box1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: o;
	padding: 50px 20px 50px;
	text-align: left;
}

.myface {
	border-radius: 50%;
	border: 20px solid white;
}

.crc-button {
	text-align: center;
	border-radius: 20px;
	background-color: dodgerblue;
	padding: 10 0 0 0;
	color: azure;
	text-decoration: none;
}

/* Second Container */

.container2 {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(255, 255, 255);
	text-align: center;
	padding: 70px 200px;

}

.exp-header { /* The text to keep in the center */
	padding-bottom: 45px;

}

.exp-container{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	padding: 10px;
	margin: 10px;
	
	
}

.exp {
	text-align: left;
	flex: 1;
	justify-content: center;
}

/* Fifth container (added later) for projects */
.container5 {
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: flex-start;
	padding:  70px 200px;
	justify-content: space-evenly;
	color: rgb(0, 0, 0);
	padding: 10px;


}

.container5 a {
	color: rgb(45, 42, 209);
	text-decoration: none;
}

.article a {
	color: rgb(45, 42, 209);
	text-decoration: none;
}

.my-works {
	display: flex;
	align-items: flex-start;
	margin-top: 30px;
	padding: 15px;
}

.images {
	flex: 1;
	justify-content: center;
	text-align: center;
	padding: 45px;
}

.thumbnail {
	display: flexbox;
	align-items:initial;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 35px;
	padding: 5px;
	max-width: 20%;
	height: auto;
	margin-top: 5px;
	
}

.thumbnail:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	filter: grayscale(100%);
}


/* Third Container */

.container3 {
	font-family: Arial, Helvetica, sans-serif;
	color: azure;
	background-image: url("resume images/serverroom.png");
	/* background-position: center; */
	background-size: cover;

	/* background-blend-mode: screen;*/
	background-attachment: fixed;
	text-align: left;
	padding: 70px 200px;
	z-index: 1;
}

.container3 a {
	text-decoration: none;
}

/* Fourth Container */

.container4 {
	background-color: rgb(7, 8, 39);
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 70px 200px;

}

.deg-header { /* The text to keep in the center */
	padding-bottom: 45px;

}

.deg-container {
	display: flex;
	align-items: center;

	
}

.deg {
	text-align: center;
	flex: 1;
	justify-content: center;
}

/* Cloud Resume Challenge page */
.article {
	margin: 160px;
	font-family: Arial, Helvetica, sans-serif;

}


.footer {
	background-color: gray;
	margin: 0;
	padding: 30px;
	text-align: center;
}






